body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100dvh;
}
